{% extends 'base/base.html' %}

{% block title %}Category List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Category</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Category</h4>
                <button id="load-normal" class="btn btn-warning">Sort by Date(New)</button>
                <button id="load-filtered" class="btn btn-warning">Sort by Date(old)</button>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table " id="categoryTable">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Name</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if drop %}
                            {% for drop in drop %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ drop.name }}</td>
                                <td>{{ drop.created_date }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Drop Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
<script>
    function fetchDrops(url) {
        fetch(url)
            .then(response => response.json())
            .then(data => {
                // Update the table with the fetched drops
                const dropTable = document.getElementById('categoryTable');
                const tableBody = dropTable.getElementsByTagName('tbody')[0];
                tableBody.innerHTML = ''; // Clear previous drop items
                data.forEach((drop, index) => {
                    const row = tableBody.insertRow();
                    const cell1 = row.insertCell(0);
                    const cell2 = row.insertCell(1);
                    const cell3 = row.insertCell(2);
                    cell1.textContent = index + 1;
                    cell2.textContent = drop.name;
                    cell3.textContent = drop.created_date;
                });
            })
            .catch(error => console.error('Error:', error));
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Fetch and display normal drops on page load
        fetchDrops('http://127.0.0.1:8000/store/api/drop/');

        const loadNormalButton = document.getElementById('load-normal');
        const loadFilteredButton = document.getElementById('load-filtered');

        loadNormalButton.addEventListener('click', function () {
            // Fetch and display normal drops when the "Load Normal Data" button is clicked
            fetchDrops('http://127.0.0.1:8000/store/api/drop/');
        });

        loadFilteredButton.addEventListener('click', function () {
            // Fetch and display filtered drops when the "Load Filtered Data" button is clicked
            fetchDrops('http://127.0.0.1:8000/store/api/drop/filtered/');
        });
    });
</script>



{% endblock content %}
