{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Product List </h4>
                <button id="load-normal" class="btn btn-warning">Sort by Date(New)</button>
                <button id="load-filtered" class="btn btn-warning">Sort by Date(old)</button>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table " id="productTable">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Name</th>
                                <th>Sort No</th>
                                <th>Price</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if product %}
                            {% for product in product %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.sortno }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.created_date }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
<script>
    function fetchProducts(url) {
        fetch(url)
            .then(response => response.json())
            .then(data => {
                // Update the table with the fetched products
                const productTable = document.getElementById('productTable');
                const tableBody = productTable.getElementsByTagName('tbody')[0];
                tableBody.innerHTML = ''; // Clear previous product items
                data.forEach((product, index) => {
                    const row = tableBody.insertRow();
                    const cell1 = row.insertCell(0);
                    const cell2 = row.insertCell(1);
                    const cell3 = row.insertCell(2);
                    const cell4 = row.insertCell(3);
                    const cell5 = row.insertCell(4);
                    cell1.textContent = index + 1;
                    cell2.textContent = product.name;
                    cell3.textContent = product.sortno;
                    cell4.textContent = product.price;
                    cell5.textContent = product.created_date;
                });
            })
            .catch(error => console.error('Error:', error));
    }

    document.addEventListener("DOMContentLoaded", function () {
        const loadNormalButton = document.getElementById('load-normal');
        const loadFilteredButton = document.getElementById('load-filtered');

        loadNormalButton.addEventListener('click', function () {
            // Fetch and display normal product data when the "Load Normal Product Data" button is clicked
            fetchProducts('/store/api/product/');
        });

        loadFilteredButton.addEventListener('click', function () {
            // Fetch and display filtered product data when the "Load Filtered Product Data" button is clicked
            fetchProducts('/store/api/product/filtered/');
        });
    });
</script>

{% endblock content %}